:root {
  --def-transition-duration: .2s;
}
/* ̥		html {
  font-size: 16px;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
} */

img {
  display: block;
}

#hero {
  background-color: #151618;
  padding-top: 3rem;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 3rem;
}

nav ul a {
  text-decoration: none;
  color: #A1A2A3;
  display: inline-block;
  padding: 1.5rem 0;
}

nav ul a:hover {
  color: #E8E8E8;
}

.has-submenu {
  position: relative;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: flex-start;
}

/* .has-submenu::after {
  content: url('icons/icon-arrow-down.svg');
  opacity: .6;
  height: 25px;
} */

.has-submenu:hover ul {
  display: block;
}

.has-submenu ul {
  position: absolute;
  top: 120%;
  left: -2rem;
  background-color: #212224;
  border-radius: .5rem;
  padding: .5rem;
  display: none;
}

.has-submenu ul a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-width: 15rem;
  border-radius: .5rem;
}

/* .has-submenu ul a::after {
  content: url(icons/icon-arrow-right.svg);
  height: 17px;
  opacity: 0;
} */

.has-submenu ul a:hover {
  background-color: #2C2D2F;
  padding: 1rem 1.5rem;
}

.has-submenu ul a:hover::after {
  opacity: 1;
}

.has-submenu:hover::after {
  opacity: 1;
}

.has-submenu:hover > a {
  color: #E8E8E8;
}

button {
  appearance: none;
  border: 1px solid #9E70EB;
  color: #9E70EB;
  background-color: transparent;
  border-radius: 10rem;
  padding: .75rem 1.5rem;
  cursor: pointer;
}

/* Air */
nav ul a{
  transition-property: color;
  
}

.has-submenu::after{
  transition-property: opacity;
}

nav ul a,.has-submenu:hover ul{
  transition-duration:var(--def-transition-duration);
  transition-timing-function: ease-in-out ;
}

.has-submenu ul{
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-1rem);
  transition-property: opacity,visibility,transform;
}

.has-submenu:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
 }

 .logo img{
  height: 3rem;
 }

 .header_button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
 }
.Hero_button button{
  margin-left: 1rem;
}



 .left h1{
  width: 80%;
  font-weight: bolder;
  font-size: 40px;
 }
 .left p{
  font-weight: bold;
  font-size: 1.2rem;
 }

 .hero_sec{
   
   gap: 3rem;
   margin-top: 8rem;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

 }

 .right_img img{
      object-fit: cover;
      height: 70%;
      width: 90%;
      display: block;
 }

.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  
}


.info{
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 3rem;
  
}

.info_img>img{
  display: block;

  aspect-ratio: 16/9;
   
  max-height: 150px;
 }
.info_img{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.Slider{
 position: relative;
  width: 100%;
  display: flex;
  margin-top: 78px;
  overflow: hidden;
  max-height: 550px;
  
}

.Slider_text{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 7% 9% 13.5% 57%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 20px;
 
}

.Slider_img {
   
  z-index: 1;
  position: relative;
  width: 39%;
   height: 0;
  padding-top: 55.5%;
  border-radius: 20px;
  background-image: url(https://printify.com/pfh/media/clothes-CMPWJ6JG.webp);
   background-repeat: no-repeat;
   background-color: #18c75a;
  background-size: cover;
  
}
@media screen and (max-width: 960px){
    .Slider{
      flex-direction: column;
      max-width: 700px;
      background: #fff;
      border-radius: 24px;
      margin: 0 auto;
    }
    .Slider_text{
      position: static;
        padding: 31px 24px 40px;
        border-top-left-radius: initial;
        border-top-right-radius: initial;
    }
    .Slider_img {
      z-index: 1;
  position: relative;
  width: 100%;
   height: 0;
  padding-top: 55.5%;
  border-radius: 20px;
  background-image: url(https://printify.com/pfh/media/clothes-CMPWJ6JG.webp);
   background-repeat: no-repeat;
   background-color: #18c75a;
  background-size: cover;
  }

}

.App{
  margin-left: 2rem;
  margin-right: 2rem;
}