.Footer1,.footertext{
     display: grid;   
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}

.Footer1{
    margin-top: 7rem;
}

